:root {
	--secondary: #F9C23F;
	--background: #D1F6DB;
	--background: #00000011;
	--color: #0000ff;

	--light-grey: #00000022
}

@font-face {
	font-family: 'ops';
	src: url('./ops.ttf') format('truetype');
}

body {
	background: var(--background);
	color: var(--color);
	line-height: 1.4em;
	font-family: "ops", sans-serif;
}

a {
	color: var(--color);
}

/* .block:first-of-type { */
/* 	position: sticky; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background-color: beige; */
/* } */

.block {
	margin: 20px auto;
	border: 1px solid var(--light-grey);
	padding: 40px;
	/* box-shadow: 0 0 10px 0px var(--light-grey); */
	border-top: 3px dotted var(--light-grey);
	max-width: 600px;

	transition: all 100ms ease-in-out;
}

.fixed {
	position: fixed;
	top: 1em;
	left: 1em;
}

img,
video {
	width: 100%;
}


input:checked~div {
	max-width: 1200px;
}

.link,
.pdf,
.media {
	padding: 5px;
	border: 2px solid var(--light-grey);
	border-radius: 5px;
	background: #eee;
	width: 50%;
	overflow: hidden;
}

.media {
	width: 95%;
	font-size: 1.2em;
	margin: 10px 0;
	box-shadow: 0 0 10px 1px var(--light-grey);
}

.pdf {
	width: 95%;
	height: 300px;
	box-shadow: 0 0 10px 1px var(--light-grey);
}

.pdf img {
	padding-top: 10px;
}

button {
	cursor: pointer;
}

.hover {
	transition: all 100ms ease-in-out;
}

.hover:hover {
	transform: scale(1.1);
}


.media p {
	margin: 1em 0;
	padding: 0;
}

.metadata {
	padding: 3px;
	font-size: 0.9em;
	border-top: .8px dotted var(--light-grey);
	color: #00000033;
	margin: 10px 0;

	border: 1px dotted var(--light-grey);
	border-radius: 5px;
	background: #eee;
}

.date {
	color: var(--secondary);
	background-color: var(--color);
	width: 15em;
	margin-bottom: .5em;
}
