:root {
	--secondary: #fff;
	--background: #D1F6DB;
	/* --background: #666666; */
	--color: #4F9C64;

	--light-grey: #00000022
}

@font-face {
	font-family: 'ops';
	src: url('./ops.ttf') format('truetype');
}


@font-face {
	font-family: 'gap';
	src: url('./GapSans.ttf') format('truetype');
}

body {
	background: var(--background);
	color: var(--color);
	color: var(--color);
	line-height: 1.4em;
	font-family: "Arial Narrow", sans-serif;
	font-weight: 600; 
	font-size: 1.2em;
}

h1{
	line-height: 1.4em;
}

h1,h2,h3,h4,h5,h6, a {
	font-family: 'gap';
}

a {
	color: var(--color);
}

xmp {
	color: #ff2e5f;
  padding: 1rem;
  background: #ffe5;
}

/* .block:first-of-type { */
/* 	position: sticky; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background-color: beige; */
/* } */

.block {
	margin: 20px auto;
	border: 1px solid var(--light-grey);
	padding: 40px;
	/* box-shadow: 0 0 10px 0px var(--light-grey); */
	border-top: 3px dotted var(--light-grey);
	/* max-width: 600px; */

	transition: all 100ms ease-in-out;
}

.fixed {
	position: fixed;
	top: 1em;
	left: 1em;
}

img,
video {
	width: 100%;
}


input.t1:checked~.block {
	width: 1100px;
}

input.t2:checked~.block {
	width: 800px;
}

input.t3:checked~.block {
	width: 500px;
}

label {
	padding-left: 1.5em;
	padding-right: .5em;
	background-color: yellow;
}

input[type="radio"] {
	appearance: none;
	width: 1em;
	height: 1em;
	border: 1px solid var(--color);
	background-color: white;
}

.t1 {
	top: 1rem;
}

.t2 {
	top: 2.5rem;
}

.t3 {
	top: 4rem;
}

.mt5 {
	margin-top: 1rem;
}


.mt10 {
	margin-top: 2rem;
}


.mt15 {
	margin-top: 3rem;
}


.mt20 {
	margin-top: 4rem;
}


.mt25 {
	margin-top: 5rem;
}


.mt30 {
	margin-top: 6rem;
}

input[type="radio"]:checked {
	border: 1px solid white;
	background-color: var(--color);
}


.link,
.pdf,
.media {
	padding: 5px;
	border: 2px solid var(--light-grey);
	border-radius: 5px;
	background: #eee;
	width: 50%;
	overflow: hidden;
}

.media {
	width: 95%;
	font-size: 1.2em;
	margin: 10px 0;
	box-shadow: 0 0 10px 1px var(--light-grey);
}

.pdf {
	width: 95%;
	height: 300px;
	box-shadow: 0 0 10px 1px var(--light-grey);
}

.pdf img {
	padding-top: 10px;
}

button {
	cursor: pointer;
}

.hover {
	transition: all 100ms ease-in-out;
}

.hover:hover {
	transform: scale(1.1);
}


.media p {
	margin: 1em 0;
	padding: 0;
}

.metadata {
	padding: 3px;
	font-size: 0.9em;
	border-top: .8px dotted var(--light-grey);
	color: #00000033;
	margin: 10px 0;

	border: 1px dotted var(--light-grey);
	border-radius: 5px;
	background: #eee;
}

.date {
	color: var(--secondary);
	background-color: var(--color);
	width: 15em;
	margin-bottom: .5em;
}
