:root {
	--brown: #441D01;
  --red: #E30F00;
  --grey: #EEE;
  --grey2: #CCCCCC;
  --purple: #C1B3FE;
  --purple-2: #a08bff;
  --blue: #555577;
  --pink: #FEB8D5;
  --black: #222222;

	--secondary: #fff;
	--background: #D1F6DB;
	/* --background: #666666; */
	--color: var(--purple);

	--light-grey: #00000022
}

@font-face {
	font-family: 'ops';
	src: url('./ops.ttf') format('truetype');
}


@font-face {
	font-family: 'gap';
	src: url('./GapSans.ttf') format('truetype');
}

body {
	background: var(--black);
	color: var(--grey);
	line-height: 1.4em;
	font-family: "Arial Narrow", sans-serif;
	font-weight: 600; 
	font-size: 1.2em;
}

h1{
	line-height: 1.4em;
}

h1,h2,h3,h4,h5,h6, a {
	font-family: 'gap';
}

a {
	color: var(--grey);
}

xmp {
	color: var(--purple);
  padding: 1rem;
  background: #444;
}

/* .block:first-of-type { */
/* 	position: sticky; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background-color: beige; */
/* } */

.block {
	margin: 20px auto;
	border: 1px solid var(--grey2);
	padding: 1em;
	/* box-shadow: 0 0 10px 0px var(--light-grey); */
	/* max-width: 600px; */

	transition: all 100ms ease-in-out;
}

.fixed {
	position: fixed;
	top: 1em;
	left: 1em;
}

img,
video {
	width: 100%;
}


input.t1:checked~.block {width: 1100px;}
input.t2:checked~.block {width: 800px;}
input.t3:checked~.block {width: 500px;}
input.t4:checked~.block {transform: skewX(0deg) !important;}


input.t6:checked~.block {display:none}
input.t6:checked~.block-list {display:block}

label  {
	padding-left: 1.5em;
	background-color: var(--purple);
	padding-right: .5em;
}
.nav {
	position: fixed;
	background-color: var(--purple);
	top: 1em;
	padding: .5em;
	right: 1em;
	color: white;
}
input[type="radio"] {
	appearance: none;
	width: 1em;
	height: 1em;
	background-color: white;
}

.t1 {top: 1rem;}
.t2 {top: 2.5rem;}
.t3 {top: 4rem;}
.t4 {top: 6rem;}
.t5 {top: 7.5rem;}

.mt5 {transform: skewX(-3deg);}
.mt10 {transform: skewX(-2deg);}
.mt15 {transform: skewX(3deg);}
.mt20 {transform: skewX(5deg);}
.mt25 {transform: skewX(-4deg);}
.mt30 {transform: skewX(-5deg);}

input[type="radio"]:checked {
	border: 1px solid white;
	background-color: var(--color);
}


.link,
.pdf,
.media {
	padding: 5px;
	border: 2px solid var(--light-grey);
	border-radius: 5px;
	background: #eee;
	width: 50%;
	overflow: hidden;
}

.media {
	width: 95%;
	font-size: 1.2em;
	margin: 10px 0;
}

.pdf {
	width: 95%;
	height: 300px;
}

.pdf img {
	padding-top: 10px;
}

button {
	cursor: pointer;
}

.hover {
	transition: all 100ms ease-in-out;
}

.hover:hover {
	transform: scale(1.1);
}


.media p {
	margin: 1em 0;
	padding: 0;
}

.metadata {
	padding: 3px;
	font-size: 0.9em;
	display: none;
	border-top: .8px dotted var(--light-grey);
	color: var(--grey2);
	margin: 10px 0;

	/* border: 1px dotted var(--light-grey); */
	/* border-radius: 5px; */
	/* background: #eee; */
}

.date {
	color: var(--secondary);
	width: 15em;
	margin-bottom: .5em;
}
