:root {
	--secondary: #ff0;
	--background: #00000022;
	--color: #333;
	--light-grey: #00000022
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@font-face {
	font-family: 'ops';
	src: url('./ops.ttf') format('truetype');
}

@font-face {
	font-family: "chicago";
	src: url("./chicago.woff2");
}

body {
	background: var(--background);
	color: var(--color);
	font-family: "chicago", monospace;
	display: inline-flex;
	padding-left: 5rem;
}

p {
	line-height: 1.3em;
	font-size: .9rem;
	font-family: "ops", monospace;
}

p.date {
	font-family: "chicago", monospace;
}

a {
	color: var(--color);
}

h1 {
	font-size: 2.3em;
	line-height: 1.1em;
}

/* .block:first-of-type { */
/* 	position: sticky; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background-color: beige; */
/* } */

.block {
	margin: 20px auto;
	border: 1px solid var(--light-grey);
	padding: 40px;
	box-shadow: 0 0 10px 0px var(--light-grey);
	border-top: 3px dotted var(--light-grey);
	max-height: 600px;
	overflow-y: scroll;
	width: 400px;
	margin-right: 20px;
	transition: width 600ms ease-in-out;
	cursor: crosshair;
}

.block:hover {
	transform: scale(1.02);
}

.fixed {
	position: fixed;
	left: 1em;
	z-index: 99;
}

.t1 {
	top: 1rem;
}

.t2 {
	top: 2.5rem;
}

.t3 {
	top: 4rem;
}

.mt5 {
	margin-top: 1rem;
}


.mt10 {
	margin-top: 2rem;
}


.mt15 {
	margin-top: 3rem;
}


.mt20 {
	margin-top: 4rem;
}


.mt25 {
	margin-top: 5rem;
}


.mt30 {
	margin-top: 6rem;
}


img,
video {
	width: 100%;
}


input.t1:checked~.block {
	width: 800px;
}

input.t2:checked~.block {
	width: 500px;
}

input.t3:checked~.block {
	width: 300px;
}

.link,
.pdf,
.media {
	padding: 5px;
	border: 2px solid var(--light-grey);
	border-radius: 5px;
	background: #eee;
	width: 50%;
	overflow: hidden;
}

.media {
	width: 95%;
	font-size: 1.2em;
	margin: 10px 0;
	box-shadow: 0 0 10px 1px var(--light-grey);
}

.pdf {
	width: 95%;
	height: 300px;
	box-shadow: 0 0 10px 1px var(--light-grey);
}

label {
	padding-left: 1.5em;
	padding-right: .5em;
	background-color: yellow;
}

input[type="radio"] {
	appearance: none;
	width: 1em;
	height: 1em;
	border: 1px solid var(--color);
	background-color: white;
}

input[type="radio"]:checked {
	border: 1px solid white;
	background-color: var(--color);
}

.pdf img {
	padding-top: 10px;
}

button {
	cursor: pointer;
}

.hover {
	transition: all 100ms ease-in-out;
}

.hover:hover {
	transform: scale(1.1);
}


.media p {
	margin: 1em 0;
	padding: 0;
}

.metadata {
	padding: .1em;
	font-size: 0.6em;
	border-top: .8px dotted var(--light-grey);
	color: #00000033;
	font-family: "ops", monospace;
	margin: 10px 0;

	border: 1px dotted var(--light-grey);
	border-radius: 5px;
	background: #eee;
}

.date {
	color: var(--secondary);
	background-color: var(--color);
	width: 15em;
	margin-bottom: .5em;
}
